$color-dark: #690000;
$color-enabled: #fff;
$color-disabled: #777;

@import 'ripple';


html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: 1fr 52px 1fr;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#content {
  display: flex;
  flex-direction: column;
  flex: 3;
  justify-content: center;
  input#password {
    outline: none;
    border: none;
    text-align: center;
    font-size: 20px;
    background: transparent;
    padding: 50px 0;
  }
}

.copy {
  text-align: center;
  #copy {
    padding: 10px;
    display: inline-block;
    border-radius: 50%;
    &:focus{ outline: none; }
    svg {
      height: 32px;
    }
  }
}

#controls {
  min-width: 0;
  display: flex;
  flex: 2;
  background-color: $color-dark;
  flex-direction: column;
}

#snowflake {
  width: 140px;
  height: 140px;
  animation: spin 10s linear infinite;
  position: relative;
  left: calc(50% - 70px);
  z-index: -1;
}


@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.row {
  display: flex;
  flex: 1;
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  justify-content: space-evenly;
}


.tgl {
  user-select: none;
  display: flex;
  flex: 1;
  justify-content: center;
  input { 
    display: none;
    &:checked + label {
      color: $color-enabled;
    }
  }
  label {
    color: $color-disabled;
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    &:focus { outline: none; }
    // &:focus { outline: #777 auto 1px; }
  }
  
}



#band {
  overflow: hidden;
  padding: 10px 0;
  background-color: #fff;
  #lengths {
    white-space : nowrap;
    position: relative;
    transition: left 0.5s ease-in-out 0s, top 0.5s ease-in-out 0s;
    span {
      color: $color-disabled;
      display: inline-flex;
      width: 32px;
      height: 32px;
      box-sizing: border-box;
      // border: 1px solid $color-disabled;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      margin: 0 7vw;
      user-select: none;

      &.selected {
        color: $color-dark;
        border: 1px solid $color-dark;
      }
      &:focus { outline: none; }
    }
  }
}

@media (max-height: 600px) {
  body {
    grid-template-rows: none;
    grid-template-columns: 1fr 52px 1fr;
  }
  #content input#password {
    padding: 30px 0;    
  }
  #band {
    padding: 0 10px;
    #lengths {
      white-space: normal;
      span {
        margin: 7vh 0;
      }
    }
  }
}

